<div align="center">
  <div align="right">
    <a routerLink="#" href="#" (click)="logOut()">Cerrar Session</a>
  </div>
  <div align="left">
    <img src="../assets/logo.jpg" width="150">
  </div>

  <h1>{{title}}</h1>
  <br/>
  <h2 style="color: #006600">Menu</h2>

  <nav>
    <a routerLink="/categoria" routerLinkActive="active">Categoria</a><br/>
    <a routerLink="/producto" routerLinkActive="active">Producto</a><br/>
    <a routerLink="/prestamos" routerLinkActive="">Prestamos</a><br/>
    <a routerLink="/reporte" routerLinkActive="active">Reporte</a><br/>
  </nav>
  <router-outlet></router-outlet>
</div>
