<app-prestamos></app-prestamos>
<div align="center">
<h1>{{title}}</h1>
  <table>
    <tr><th>ID</th> <th>NOMBRE</th> <th></th></tr>
    <tr *ngFor="let dispo of disponible">
      <td>{{dispo.id}}</td>
      <td>{{dispo.nombre}}</td>
      <td><button type="submit" style="background-color: rgba(159,190,160,0.56)">Prestar</button></td>
    </tr>
  </table>
<nav>
  <a routerLink="/prestamos" routerLinkActive="active" style="background-color: #eee;">Regresar</a>
</nav>
<router-outlet></router-outlet>
</div>
